html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#root {
    box-sizing: border-box;
    margin: 0 auto;
    height: 90vh;
    max-width: 1000px;
   
}

.bar:hover {
    fill: aqua;
}

#tooltip {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    text-align: center;
    width: 150px;
    height: 50px;
    padding: 2px;
    font: 12px;
    background: lightsteelblue;
    box-shadow: 1px 1px 10px;
    border-radius: 2px;
    pointer-events: none; 
}